<footer>
    <div class="container ol-lg-6">
        <div class="row">
            <div class="row">
                <h1>Contact</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem distinctio eius aliquam
                    numquam veritatis cum cumque iste quo molestias, labore quod! Commodi, id fugit animi corrupti
                    debitis veniam cupiditate tenetur?
                </p>
            </div>
            <div class=" col-12  d-flex justify-content-center ">
                <div class="card p-3 w-75 bg-light">

                    <div class="row mb-3">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm font-weight-bold">Your
                            E-mail </label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                                placeholder="Your email">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm font-weight-bold">Your message</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                placeholder="Please enter your message here.."></textarea>
                        </div>

                    </div>
                    <div class="row ">
                        <div class="col-12  d-flex justify-content-end">
                            <a href="#" class="btn btn-primary">Submit</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    </form>
    </div>
    </div>



</footer>
